<!-- footer.html -->
<footer class="footer">
    <div class="grid">
        <div class="grid__row" style="margin-top: 20px; border-top: 2px solid #ccc;">  
            <div class="grid__column-3">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">TickID Mail</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-3">
                <h3 class="footer__heading">Về TickID</h3>
                <ul class="footer__list">
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">Giới thiệu về TickID Việt Nam</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">Tuyển dụng</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">Điều khoản TickID</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-3">
                <h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
                <ul class="footer__list">
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">
                            <i class="footer-item__icon fa-brands fa-facebook"></i>
                            FaceBook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">
                            <i class="footer-item__icon fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-item-link">
                            <i class="footer-item__icon fa-brands fa-linkedin"></i>
                            linkedin
                        </a>   
                    </li>
                </ul>
            </div>
            <div class="grid__column-3">
                <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
                <div class="footer__download">
                    <img src="../assets/img/qr_code.png" alt="Download QR" class="footer__download-qr">
                    <div class="footer__download-apps">
                        <img src="../assets/img/ch_play.png" alt="Google Play" class="footer__download-apps-img">
                        <img src="../assets/img/app_store.png" alt="App store" class="footer__download-apps-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid">
            <p class="footer__text">@ 2024_Bài tập lớn nhóm 4 : Thực hành Web !!!</p>
        </div>
    </div>
</footer>