*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    border: 5px solid lightsalmon;
}

h1 {
    border-radius: 20px;
    color: saddlebrown;
    background-color: white;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 3px 3px 2px lightsalmon;
    text-shadow: 3px 3px 10px lightsalmon,
                3px 3px 20px lightsalmon,
                3px 3px 35px lightsalmon,
                3px 3px 50px lightsalmon;
    padding: 5px 0;
    margin: 6px 0;
}

.top {
    box-shadow: 3px 3px 2px lightsalmon;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: right;
    padding: 5px 10px;
}

.top > button {
    border-radius: 10px;
    padding: 5px 7px;
    border: none;
    font-weight: bolder;
    transition: all 0.1s ease-in;
}

.top > button:hover {
    box-shadow: 3px 3px 2px lightsalmon;
    transform: translateY(-3px);
}

.top > button:active {
    box-shadow: 3px 3px 100px lightsalmon,
                3px 3px 200px lightsalmon,
                3px 3px 300px lightsalmon,
                3px 3px 500px lightsalmon;
    transform: translateY(0);
}
.tach{
    width: 7px;
    background-color: lightsalmon;
}
#iframe-detail1, #iframe-detail2 {
    flex: 1;
    width: 50%;
    height: 100%;
    border: none;
    overflow: auto;
}
